
html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
    
}

.container-section {
    background-color: #f4f4f4;
}

.content-section {
    padding-bottom: 40px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

p {
    font-size: 18px;
    line-height: 1.6em;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.main {
    display: table;
    height: 600px;
    width: 100%;
    color: #f4f4f4;
    text-align: center;
    background: url("../images/main-bg.jpg") no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.brand-heading {
    font-size: 40px;
}

.intro-text {
    font-size: 18px;
}

#contact-section div {
    margin-bottom: 5px;
}

#about-section p {
    padding: 0 40px 0 40px;
    text-align: left;
}

.contact-link {
    width: 100%;
}

footer {
  margin-top: 10px;
  padding-top: 30px;
  height: 80px;
  text-align: center;
}

footer p {
    font-size: 14px;
}