<section>
    <div class="container">
        
        <div ng-switch="currentCategory || '_undefined_'">
            
            <div ng-switch-when='_undefined_' class='text-center'>
                <h2><i class="fa fa-frown-o fa-2x"></i> <span>Sorry, these products are currently unavailable.</h2>
            </div>
            
            <div ng-switch-default>
                <h2>{{ currentCategory.categoryTitle }}</h2>

                <div ng-repeat="product in currentCategory.products">
                    <product-section product-object="product"></product-section>
                </div>
            </div>
            
        </div>

    </div>
</section>