<section id="contact" class="content-section">
    <div class="container" id="contact-section">
        <div class="row  text-center">
            <div class="col-md-8 col-md-offset-2">
                <h2>Contact The People&apos;s Shoe Company</h2>
                <p>Got Questions? Want to talk to us? Please reach out to us.</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a class="btn btn-info btn-lg contact-link" href="mailto:support@thepeopleshoecompany.com" target="_blank"><i class="fa fa-envelope"></i> support@thepeopleshoecompany.com</a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a class="btn btn-info btn-lg contact-link" href="tel:+16262799979" target="_blank"><i class="fa fa-phone"></i> 626.279.9979</a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a class="btn btn-info btn-lg contact-link" href="https://www.google.com/maps?q=10420+Rush+St,+South+El_Monte,+CA+91733" target="_blank"><i class="fa fa-map-marker"></i> 10420 Rush St.<br/> South El Monte, CA 91733</a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <a class="btn btn-info btn-lg contact-link" href="https://www.facebook.com/thepeoplesshoecompany" target="_blank"><i class="fa fa-facebook"></i> Facebook</a>
            </div>
        </div>
    </div>
</section>