<div class="main">
    <div class="intro-body container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1 class="brand-heading">The People&apos;s Shoe Company</h1>
              <p class="intro-text">All kinds of people, all kinds of shoes</p>
            </div>
          </div>
    </div>
</div>

