<div class="row">
    <div class="col-md-7">
        <div class="thumbnail">
            <img style="width: 100%;" src="{{ productObject.imageUrl }}"/>
        </div>
    </div>

    <div class="col-md-5">
        <h3>{{ productObject.name }}</h3>

        <p>
            <span ng-if="productObject.labels.indexOf('hot') >= 0" class="label label-danger">HOT</span>
        </p>

        <p>{{ productObject.description }}</p>
        <ul>
            <li ng-repeat="bp in productObject.bulletPoints">{{ bp }}</li>
        </ul>
    </div>
</div>